footer.footer {
    background-color: #E0DAD7;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 4, 4;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
        "texto texto "
        "insta wpp ";
}

button.insta {
    cursor: pointer;
    background-color: #E0DAD7;
    border: none;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    grid-area: insta;
}

button.wpp {
    cursor: pointer;
    background-color: #E0DAD7;
    border: none;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    grid-area: wpp;
}

button.face {
    cursor: pointer;
    background-color: #E0DAD7;
    border: none;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    grid-area: face;
}

p.texto {
    background-color: #E0DAD7;
    grid-area: texto;
}